@import url('https://fonts.googleapis.com/css2?family=DIN+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin-left: 170px; /* Margen izquierdo para el cuerpo */
  margin-right: 100px; /* Margen derecho para el cuerpo */
}

header {
  background-color: #ffffff; 
  color: #004D99;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: -170px; /* Margen izquierdo para el cuerpo */
  margin-right: -100px; /* Margen derecho para el cuerpo */
  border-bottom: 2px solid #004d99;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: #004d99;
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.menu li a:hover {
  background-color: rgba(56, 0, 129, 0.1); /* Fondo oscurecido al pasar el cursor */
  border-radius: 5px;
}

.menu li a.active {
  background-color: rgba(40, 41, 97, 0.116); /* Color para el enlace activo */
}

h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1{
  font-family: 'Roboto Condensed',sans-serif;
  text-align: center;
  font-size: 50px;
  color: #082A4D;
}

h2{
  font-size: 35px;
}

h3{
  font-size: 24px;
}
h2, h3{
  color: #99180f
}

.section p {
  text-align: justify;
}

.logos-container {
  display: inline-block; /* Muestra los contenedores en línea */
  vertical-align: top; /* Alinea los contenedores en la parte superior */
}
.logos-container img {
  display: block; /* Asegura que las imágenes sean elementos de bloque */
  margin-bottom: 0px; /* Agrega espacio entre los contenedores */
}

/* Estilos para el icono de menú hamburguesa */
.menu-icon {
  display: none; /* Ocultar el icono en pantallas grandes */
  cursor: pointer;
  /* Estilos para las barras del icono */
}

/* Estilos para las barras del icono */
.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

.logo-image{
  width: 400px;
}

/* Mostrar el icono de menú hamburguesa en dispositivos móviles */
@media (max-width: 767px) {
  .menu-icon {
    display: block;
    cursor:pointer;
  }
}
/* Ocultar la lista de navegación en dispositivos móviles */
@media (max-width: 767px) {
  .menu {
    display: none;
    
  }
}

@media (max-width: 767px) {
  body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin-left: 50px; /* Margen izquierdo para el cuerpo */
    margin-right: 50px; /* Margen derecho para el cuerpo */
  }
  
  header {
    background-color: #ffffff; 
    color: #004D99;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: -50px; /* Margen izquierdo para el cuerpo */
    margin-right: -50px; /* Margen derecho para el cuerpo */
    border-bottom: 2px solid #004d99;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {
      margin-top: 10px;
  }

  .image {
      margin: 0 auto;
  }

  /* Estilo para el menú desplegable en la versión móvil */
.menu.show {
  display: block; /* Muestra el menú cuando se hace clic en el botón */
  background-color: #082a4d; /* Fondo gris */
  position: absolute; /* Posición absoluta para superponer el contenido */
  top: 60px; /* Ajusta la posición vertical según la barra de navegación */
  left: 0;
  width: 100%; /* Ancho completo */
  z-index: 1; /* Asegura que el menú esté por encima del contenido */
}

.menu.show li {
  padding: 10px 20px; /* Añade espaciado alrededor de los elementos de la lista */
}
.menu li a{
  color:#ffffff;
}
.logo-image{
  width: 100%;
}
}